%html
  %head
    %meta charset="utf-8"
    %title Thank You!
  %body
  %h1 Thanks Megan 
    %p Thanks for coming to our conference. We couldn't have done it without you.
    %p Political activism is at the heart of any democracy and your voice needs to be heard.
    %p Please consider reaching out to your following representatives:
    %table
    %tr 
     %th Name
     %th Website 
   
       %td Joyce Beatty
       %td http://beatty.house.gov
   
       %td Patrick Tiberi
       %td http://tiberi.house.gov
   
       %td Steve Stivers
       %td http://stivers.house.gov
   
       %td Robert Portman
       %td http://www.portman.senate.gov
   
       %td Sherrod Brown
       %td http://www.brown.senate.gov
   

