%html
  %head
    %meta charset="utf-8"
    %title Thank You!
  %body
  %h1 Thanks Audrey 
    %p Thanks for coming to our conference. We couldn't have done it without you.
    %p Political activism is at the heart of any democracy and your voice needs to be heard.
    %p Please consider reaching out to your following representatives:
    %table
    %tr 
     %th Name
     %th Website 
   
       %td Tom McClintock
       %td http://mcclintock.house.gov
   
       %td Barbara Boxer
       %td http://www.boxer.senate.gov
   
       %td Dianne Feinstein
       %td http://www.feinstein.senate.gov
   

